<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkril.aerial_back.mapper.ProjectResultMapper">

    <resultMap id="BaseResultMap" type="com.zkril.aerial_back.pojo.ProjectResult">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="constraintsXy" column="constraints_xy" jdbcType="OTHER"/>
            <result property="detail" column="detail" jdbcType="OTHER"/>
            <result property="efeasible" column="efeasible" jdbcType="INTEGER"/>
            <result property="extraObjectives" column="extra_objectives" jdbcType="OTHER"/>
            <result property="extrainfo" column="extrainfo" jdbcType="OTHER"/>
            <result property="genes" column="genes" jdbcType="OTHER"/>
            <result property="modifypheno" column="modifypheno" jdbcType="INTEGER"/>
            <result property="nondomlayer" column="nondomLayer" jdbcType="OTHER"/>
            <result property="objectives" column="objectives" jdbcType="OTHER"/>
            <result property="valid" column="valid" jdbcType="TINYINT"/>
            <result property="pheno" column="pheno" jdbcType="OTHER"/>
            <result property="freq" column="freq" jdbcType="OTHER"/>
            <result property="phi" column="phi" jdbcType="OTHER"/>
            <result property="theta" column="theta" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,constraints_xy,
        detail,efeasible,extra_objectives,
        extrainfo,genes,modifypheno,
        nondomLayer,objectives,valid,
        pheno,freq,phi,
        theta
    </sql>
</mapper>
