<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkril.aerial_back.mapper.TemplateObjectiveDirectionTargetMapper">

    <resultMap id="BaseResultMap" type="com.zkril.aerial_back.pojo.TemplateObjectiveDirectionTarget">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="templateConfigId" column="template_config_id" jdbcType="BIGINT"/>
            <result property="target" column="target" jdbcType="VARCHAR"/>
            <result property="thetaStart" column="theta_start" jdbcType="DOUBLE"/>
            <result property="thetaEnd" column="theta_end" jdbcType="DOUBLE"/>
            <result property="phiStart" column="phi_start" jdbcType="DOUBLE"/>
            <result property="phiEnd" column="phi_end" jdbcType="DOUBLE"/>
            <result property="optimizeType" column="optimize_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,template_config_id,target,
        theta_start,theta_end,phi_start,
        phi_end,optimize_type
    </sql>
</mapper>
