<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkril.aerial_back.mapper.TemplateCategoryMapper">

    <resultMap id="BaseResultMap" type="com.zkril.aerial_back.pojo.TemplateCategory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="depth" column="depth" jdbcType="INTEGER"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="templateType" column="template_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,
        type,icon,sort_order,
        depth,photo,template_type
    </sql>
</mapper>
